<!DOCTYPE html>
<html>
<head>
    <title>Android</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="static/estilos/android.css">
</head>
<body>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-areanaologada-ios">Área não logada</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-areanaologada-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-cambio-ios">Câmbio</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-cambio-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-cartao-ios">Cartão</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-cartao-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-consorcio-ios">Consórcio</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-consorcio-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-contacorrente-ios">Conta Corrente</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-contacorrente-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-emprestimos-ios">Empréstimos</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-emprestimos-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-investimentos-ios">Investimentos</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-investimentos-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-meuslimites-ios">Meus Limites</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-meuslimites-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-pagamentos-ios">Pagamentos</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-pagamentos-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-poupanca-ios">Poupança</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-poupanca-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-previdencia-ios">Previdência</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-previdencia-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-seguros-ios">Seguros</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-seguros-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-solucoesdedividas-ios">Soluções de Dívidas</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-solucoesdedividas-ios/"><button class="submit-button">Jenkins</button></a>
    </div>
    <div class="input-container">
        <p class="text"><a href="https://fontes.intranet.bb.com.br/ath/ath-apf-mov4-menu-transferencia-ios">Transferência</a></p>
        <a href="https://build.ci.intranet.bb.com.br/job/ATH/job/Java/job/ath-apf-mov4-menu-transferencia-ios/"><button class="submit-button">Jenkins</button></a>
    </div>

    {% extends "base.html" %}
</body>
</html>
