<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static//estilos/menu.css">
</head>
<body>
    <nav class="menu-lateral">
        <ul>
          <li class="item-menu">
            <a href="home">
              <span class="icon"><i class="bi bi-house-fill"></i></span>
              <span class="txt-link">Home</span>
            </a>
          </li>
          <li class="item-menu">
            <a href="manual">
              <span class="icon"><i class="bi bi-hand-index-thumb-fill"></i></span>
              <span class="txt-link">Manual</span>
            </a>
          </li>
          <li class="item-menu">
            <a href="android">
              <span class="icon"><i class="bi bi-android2"></i></span>
              <span class="txt-link">Android</span>
            </a>
          </li>
          <li class="item-menu">
            <a href="ios">
              <span class="icon"><i class="bi bi-apple"></i></span>
              <span class="txt-link">iOS</span>
            </a>
          </li>
          <li class="item-menu">
            <a href="centralizador">
              <span class="icon"><i class="bi bi-layers-fill"></i></span>
              <span class="txt-link">Centralizador</span>
            </a>
          </li>
          <li class="item-menu">
            <a href="logout">
              <span class="icon"><i class="bi bi-box-arrow-in-left"></i></span>
              <span class="txt-link">Logout</span>
            </a>
          </li>
        </ul>
    </nav>
    <script src="static/scripts/menu.js"></script>
</body>
</html>
