<!DOCTYPE html>
<html>
<head>
    <title>Status do Site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="static/estilos_centralizador.css">
</head>
<script>
    function reloadPage() {
        location.reload();
    }
    setInterval(reloadPage, 120000); // Atualiza a página a cada 2 minutos
</script>
<body>
    <div class="grid-container">
        <a href="/"><i class="fas fa-home home-icon"></i></a>
        <a href="logout"><i class="fas fa-sign-out-alt logout-icon"></i></a> <br>
        {% for result in results %}
                {% if result.json_data %}
                    <a href="{{ result.site }}">
                    <div class="grid-item">
                        <h2>{{ result.name }}</h2>
                        <h2>Versão: {{ result.json_data.versaoCentralizador.versao }}</h2>
                    </div>
                    </a>
                {% else %}
                    <a href="{{ result.site }}">
                    <div class="error">
                        <h2>{{ result.name }}</h2>
                        <h2>Offline</h2>
                    </div>
                    </a>
                {% endif %}
        {% endfor %}
    </div>
    <div class="legend-container">
        <h3>Legenda:</h3>
        <div class="online"></div> <span style="font-size: 22px;">Online</span>&nbsp;&nbsp;&nbsp;
        <div class="offline"></div> <span style="font-size: 22px;">Offline</span>
    </div>
</body>
</html>


