<!DOCTYPE html>
<html>

<head>
    <title>BB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="static/estilos_divisaoregressao.css">
    <script>
        function selecionarTodos() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var selecionar = true;

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].id !== 'regressaoApp' && checkboxes[i].id !== 'centralizadorPF' && !checkboxes[i].checked) {
                    selecionar = false;
                    break;
                }
            }

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].id !== 'regressaoApp' && checkboxes[i].id !== 'centralizadorPF') {
                    checkboxes[i].checked = !selecionar;
                }
            }
        }

        analistasAndroid = {"Andréia": 10, "Any": 20, "Daniel": 30, "Iury": 40, "Juliana": 50, "Radamés": 60};
        analistasIOS = {"Aline": 10, "Guilherme": 20, "Lorena": 30, "Magdiel": 40, "Paula": 50, "Rayssa": 60};
        listaRegressaoApp = {10: "Menu Parte 1 (5h) + Área não logada sem conta cadastrada (1h) + Área não logada PJ (1h) + Perfil PJ (1h) = 8h",
                              20: "Menu Parte 2 (5h) + Link inteligente/leitor de PDF (30min) + Onboarding abrir conta (2h) = 7h30m",
                              30: "Menu Parte 3 (5h) + Área não logada com conta cadastrada (2h) + Home PJ (1h) = 8h",
                              40: "Menu Parte 4 (5h) + Perfil (2h) + Notificações (30min) = 7h30m",
                              50: "Home Parte 1 (7h) + Instalação/Atualização (20min) = 7h20m",
                              60: "Home Parte 2 (4h) + Logins/Logins PJ (2h) + Menu PJ (2h) = 8h"};
        listaRegressaoCentralizadorPF = {10: "Menu Parte 1 (5h) + Área não logada sem conta cadastrada (1h) = 6h",
                                         20: "Menu Parte 2 (5h) + Onboarding abrir conta (2h) = 7h",
                                         30: "Menu Parte 3 (5h) + Área não logada com conta cadastrada (2h) = 7h",
                                         40: "Menu Parte 4 (5h) + Perfil (2h) = 7h",
                                         50: "Home Parte 1 (7h) + Instalação/atualização (20min) = 7h20m",
                                         60: "Home Parte 2 (4h) + Logins (1h30m) + Link inteligente/leitor de PDF (30min) + Notificações (30min) = 6h30m"};
        listaAtivosAndroid = [];
        listaAtivosIOS = [];
        listaFuturaAndroid = {};
        listaFuturaIOS = {};
        listaCompletaAndroid = {};
        listaCompletaIOS = {};
        listaCompletaCentralizadorAndroid = {};
        listaCompletaCentralizadorIOS = {};

        function gerarApp() {
            var contAndroid = 0;
            var contIOS = 0;
            for (var valor in listaRegressaoApp) {
                for (var nome in analistasAndroid) {
                    if (String(valor) === String(analistasAndroid[nome])) {
                        if (listaAtivosAndroid.includes(nome)) {
                            listaCompletaAndroid[nome] = listaRegressaoApp[valor];
                        } else {
                            if (contAndroid == 0) {
                                listaCompletaAndroid['?????'.padEnd(contAndroid, ' ')] = listaRegressaoApp[valor];
                                contAndroid += 1;
                            } else if (contAndroid == 1) {
                                listaCompletaAndroid[' ?????'.padEnd(contAndroid, ' ')] = listaRegressaoApp[valor];
                                contAndroid +=1;
                            } else if (contAndroid == 2) {
                                listaCompletaAndroid['  ?????'.padEnd(contAndroid, ' ')] = listaRegressaoApp[valor];
                                contAndroid +=1;
                            } else if (contAndroid == 3) {
                                listaCompletaAndroid['   ?????'.padEnd(contAndroid, ' ')] = listaRegressaoApp[valor];
                                contAndroid +=1;
                            } else if (contAndroid == 4) {
                                listaCompletaAndroid['    ?????'.padEnd(contAndroid, ' ')] = listaRegressaoApp[valor];
                                contAndroid +=1;
                            } else if (contAndroid == 5) {
                                listaCompletaAndroid['     ?????'.padEnd(contAndroid, ' ')] = listaRegressaoApp[valor];
                                contAndroid +=1;
                            }
                        }
                        if (parseInt(analistasAndroid[nome]) === 60) {
                            listaFuturaAndroid[nome] = 10;
                        } else {
                            listaFuturaAndroid[nome] = parseInt(analistasAndroid[nome]) + 10;
                        }
                    }
                }

                for (var nome in analistasIOS) {
                    if (String(valor) === String(analistasIOS[nome])) {
                        if (listaAtivosIOS.includes(nome)) {
                            listaCompletaIOS[nome] = listaRegressaoApp[valor];
                        } else {
                            if (contIOS == 0) {
                                listaCompletaIOS['?????'.padEnd(contIOS, ' ')] = listaRegressaoApp[valor];
                                contIOS += 1;
                            } else if (contIOS == 1) {
                                listaCompletaIOS[' ?????'.padEnd(contIOS, ' ')] = listaRegressaoApp[valor];
                                contIOS += 1;
                            } else if (contIOS == 2) {
                                listaCompletaIOS['  ?????'.padEnd(contIOS, ' ')] = listaRegressaoApp[valor];
                                contIOS += 1;
                            } else if (contIOS == 3) {
                                listaCompletaIOS['   ?????'.padEnd(contIOS, ' ')] = listaRegressaoApp[valor];
                                contIOS += 1;
                            } else if (contIOS == 4) {
                                listaCompletaIOS['    ?????'.padEnd(contIOS, ' ')] = listaRegressaoApp[valor];
                                contIOS += 1;
                            } else if (contIOS == 5) {
                                listaCompletaIOS['     ?????'.padEnd(contIOS, ' ')] = listaRegressaoApp[valor];
                                contIOS += 1;
                            }
                        }
                        if (parseInt(analistasIOS[nome]) === 60) {
                            listaFuturaIOS[nome] = 10;
                        } else {
                            listaFuturaIOS[nome] = parseInt(analistasIOS[nome]) + 10;
                        }
                    }
                }
            }
            var ulElement = document.querySelector('.half-screen ul');

            var h3android = document.createElement('h3');
            h3android.innerText = 'Android';
            ulElement.appendChild(h3android);
            for (var nome in listaCompletaAndroid) {
                var li = document.createElement('li');
                li.innerText = nome + ": " + listaCompletaAndroid[nome];
                ulElement.appendChild(li);
            }
            analistasAndroid = listaFuturaAndroid;
            listaFuturaAndroid = {};
            listaCompletaAndroid = {};


            var h3ios = document.createElement('h3');
            h3ios.innerText = 'iOS';
            ulElement.appendChild(h3ios);
            for (var nome in listaCompletaIOS) {
                var li = document.createElement('li');
                li.innerText = nome + ": " + listaCompletaIOS[nome];
                ulElement.appendChild(li);
            }
            analistasIOS = listaFuturaIOS;
            listaFuturaIOS = {};
            listaCompletaIOS = {};
        }

        function gerarCentralizador() {
            var contCentralizadorAndroid = 0;
            var contCentralizadorIOS = 0;
            for (var valor in listaRegressaoCentralizadorPF) {
                for (var nome in analistasAndroid) {
                    if (String(valor) === String(analistasAndroid[nome])) {
                        if (listaAtivosAndroid.includes(nome)) {
                            listaCompletaCentralizadorAndroid[nome] = listaRegressaoCentralizadorPF[valor];
                        } else {
                            if (contCentralizadorAndroid == 0) {
                                listaCompletaCentralizadorAndroid['?????'.padEnd(contCentralizadorAndroid, ' ')] = listaRegressaoCentralizadorPF[valor];
                                contCentralizadorAndroid += 1;
                            } else if (contCentralizadorAndroid == 1) {
                                listaCompletaCentralizadorAndroid[' ?????'.padEnd(contCentralizadorAndroid, ' ')] = listaRegressaoCentralizadorPF[valor];
                                contCentralizadorAndroid +=1;
                            } else if (contCentralizadorAndroid == 2) {
                                listaCompletaCentralizadorAndroid['  ?????'.padEnd(contCentralizadorAndroid, ' ')] = listaRegressaoCentralizadorPF[valor];
                                contCentralizadorAndroid +=1;
                            } else if (contCentralizadorAndroid == 3) {
                                listaCompletaCentralizadorAndroid['   ?????'.padEnd(contCentralizadorAndroid, ' ')] = listaRegressaoCentralizadorPF[valor];
                                contCentralizadorAndroid +=1;
                            } else if (contCentralizadorAndroid == 4) {
                                listaCompletaCentralizadorAndroid['    ?????'.padEnd(contCentralizadorAndroid, ' ')] = listaRegressaoCentralizadorPF[valor];
                                contCentralizadorAndroid +=1;
                            } else if (contCentralizadorAndroid == 5) {
                                listaCompletaCentralizadorAndroid['     ?????'.padEnd(contCentralizadorAndroid, ' ')] = listaRegressaoCentralizadorPF[valor];
                                contCentralizadorAndroid +=1;
                            }
                        }
                        if (parseInt(analistasAndroid[nome]) === 60) {
                            listaFuturaAndroid[nome] = 10;
                        } else {
                            listaFuturaAndroid[nome] = parseInt(analistasAndroid[nome]) + 10;
                        }
                    }
                }

                for (var nome in analistasIOS) {
                    if (String(valor) === String(analistasIOS[nome])) {
                        if (listaAtivosIOS.includes(nome)) {
                            listaCompletaCentralizadorIOS[nome] = listaRegressaoCentralizadorPF[valor];
                        } else {
                            if (contCentralizadorIOS == 0) {
                                listaCompletaCentralizadorIOS['?????'.padEnd(contCentralizadorIOS, ' ')] = listaRegressaoCentralizadorPF[valor];
                                contCentralizadorIOS += 1;
                            } else if (contCentralizadorIOS == 1) {
                                listaCompletaCentralizadorIOS[' ?????'.padEnd(contCentralizadorIOS, ' ')] = listaRegressaoCentralizadorPF[valor];
                                contCentralizadorIOS += 1;
                            } else if (contCentralizadorIOS == 2) {
                                listaCompletaCentralizadorIOS['  ?????'.padEnd(contCentralizadorIOS, ' ')] = listaRegressaoCentralizadorPF[valor];
                                contCentralizadorIOS += 1;
                            } else if (contCentralizadorIOS == 3) {
                                listaCompletaCentralizadorIOS['   ?????'.padEnd(contCentralizadorIOS, ' ')] = listaRegressaoCentralizadorPF[valor];
                                contCentralizadorIOS += 1;
                            } else if (contCentralizadorIOS == 4) {
                                listaCompletaCentralizadorIOS['    ?????'.padEnd(contCentralizadorIOS, ' ')] = listaRegressaoCentralizadorPF[valor];
                                contCentralizadorIOS += 1;
                            } else if (contCentralizadorIOS == 5) {
                                listaCompletaCentralizadorIOS['     ?????'.padEnd(contCentralizadorIOS, ' ')] = listaRegressaoCentralizadorPF[valor];
                                contCentralizadorIOS += 1;
                            }
                        }
                        if (parseInt(analistasIOS[nome]) === 60) {
                            listaFuturaIOS[nome] = 10;
                        } else {
                            listaFuturaIOS[nome] = parseInt(analistasIOS[nome]) + 10;
                        }
                    }
                }
            }
            var ulElementD = document.querySelector('.half-screen-direita ul');

            var h4android = document.createElement('h3');
            h4android.innerText = 'Android';
            ulElementD.appendChild(h4android);
            for (var nome in listaCompletaCentralizadorAndroid) {
                var liD = document.createElement('li');
                liD.innerText = nome + ": " + listaCompletaCentralizadorAndroid[nome];
                ulElementD.appendChild(liD);
            }
            analistasAndroid = listaFuturaAndroid;
            listaFuturaAndroid = {};
            listaCompletaCentralizadorAndroid = {};

            var h4ios = document.createElement('h3');
            h4ios.innerText = 'iOS';
            ulElementD.appendChild(h4ios);
            for (var nome in listaCompletaCentralizadorIOS) {
                var liD = document.createElement('li');
                liD.innerText = nome + ": " + listaCompletaCentralizadorIOS[nome];
                ulElementD.appendChild(liD);
            }
            analistasIOS = listaFuturaIOS;
            listaFuturaIOS = {};
            listaCompletaCentralizadorIOS = {};
        }

        function limparUl() {
            var halfScreenDiv = document.getElementById('halfScreenDiv');
            halfScreenDiv.innerHTML = '';
        }

        function limparUlDireita() {
            var halfScreenDivDireita = document.getElementById('halfScreenDiv-direita');
            halfScreenDivDireita.innerHTML = '';
        }

        function rodarRegressaoApp() {
            var contador = 1;
            var ulElement = document.querySelector('.half-screen ul');
            var h1Element = document.createElement('h3');
            var h2Element = document.createElement('h3');
            var h3Element = document.createElement('h3');
            var h4Element = document.createElement('h3');
            var h5Element = document.createElement('h3');
            var h6Element = document.createElement('h3');

            h1Element.innerText = contador + 'º Rodada - Regressão App';
            ulElement.appendChild(h1Element);
            gerarApp();
            contador += 1;
            h2Element.innerText = contador + 'º Rodada - Regressão App';
            ulElement.appendChild(h2Element);
            gerarApp();
            contador += 1;
            h3Element.innerText = contador + 'º Rodada - Regressão App';
            ulElement.appendChild(h3Element);
            gerarApp();
            contador += 1;
            h4Element.innerText = contador + 'º Rodada - Regressão App';
            ulElement.appendChild(h4Element);
            gerarApp();
            contador += 1;
            h5Element.innerText = contador + 'º Rodada - Regressão App';
            ulElement.appendChild(h5Element);
            gerarApp();
            contador += 1;
            h6Element.innerText = contador + 'º Rodada - Regressão App';
            ulElement.appendChild(h6Element);
            gerarApp();
        }

        function rodarCentralizadorPF() {
            var contadorD = 1;
            var ulElementD = document.querySelector('.half-screen-direita ul');
            var h1ElementD = document.createElement('h3');
            var h2ElementD = document.createElement('h3');
            var h3ElementD = document.createElement('h3');
            var h4ElementD = document.createElement('h3');
            var h5ElementD = document.createElement('h3');
            var h6ElementD = document.createElement('h3');

            h1ElementD.innerText = contadorD + 'º Rodada - Regressão Centralizador PF';
            ulElementD.appendChild(h1ElementD);
            gerarCentralizador();
            contadorD += 1;
            h2ElementD.innerText = contadorD + 'º Rodada - Regressão Centralizador PF';
            ulElementD.appendChild(h2ElementD);
            gerarCentralizador();
            contadorD += 1;
            h3ElementD.innerText = contadorD + 'º Rodada - Regressão Centralizador PF';
            ulElementD.appendChild(h3ElementD);
            gerarCentralizador();
            contadorD += 1;
            h4ElementD.innerText = contadorD + 'º Rodada - Regressão Centralizador PF';
            ulElementD.appendChild(h4ElementD);
            gerarCentralizador();
            contadorD += 1;
            h5ElementD.innerText = contadorD + 'º Rodada - Regressão Centralizador PF';
            ulElementD.appendChild(h5ElementD);
            gerarCentralizador();
            contadorD += 1;
            h6ElementD.innerText = contadorD + 'º Rodada - Regressão Centralizador PF';
            ulElementD.appendChild(h6ElementD);
            gerarCentralizador();
        }

        function executar() {
            limparUl();
            limparUlDireita();
            var regressaoApp = document.getElementById('regressaoApp');
            var centralizadorPF = document.getElementById('centralizadorPF');

            if (!regressaoApp.checked && !centralizadorPF.checked) {
                alert('Selecione ao menos uma opção: Regressão App ou Centralizador PF!');
            } else {
                listaAtivosAndroid = [];
                listaAtivosIOS = [];
                if (andreia.checked) { listaAtivosAndroid.push("Andréia") }
                if (ani.checked) { listaAtivosAndroid.push("Any") }
                if (daniel.checked) { listaAtivosAndroid.push("Daniel") }
                if (iury.checked) { listaAtivosAndroid.push("Iury") }
                if (juliana.checked) { listaAtivosAndroid.push("Juliana") }
                if (radames.checked) { listaAtivosAndroid.push("Radamés") }
                if (aline.checked) { listaAtivosIOS.push("Aline") }
                if (guilherme.checked) { listaAtivosIOS.push("Guilherme") }
                if (lorena.checked) { listaAtivosIOS.push("Lorena") }
                if (magdiel.checked) { listaAtivosIOS.push("Magdiel") }
                if (paula.checked) { listaAtivosIOS.push("Paula") }
                if (rayssa.checked) { listaAtivosIOS.push("Rayssa") }

                if (regressaoApp.checked) {
                    rodarRegressaoApp();
                }
                if (centralizadorPF.checked) {
                    rodarCentralizadorPF();
                }
            }
        }
    </script>
</head>

<body>
    <div id="divisaoSuperior">
        <h2 class="label1">Divisão de Regressões</h2>
    </div>
    <div class="grid-regressoes">
        <input type="checkbox" id="regressaoApp" style="background-color: #cor2;" />
        <label for="regressaoApp">Regressão App</label>

        <input type="checkbox" id="centralizadorPF" style="background-color: #cor2;" />
        <label for="centralizadorPF">Centralizador PF</label>
    </div>
    <div class="grid-container">
        <div id="android">
            <h3>Android</h3>
            <div>
                <input type="checkbox" id="andreia" style="background-color: #cor;" />
                <label for="andreia">Andréia</label>
            </div>
            <div>
                <input type="checkbox" id="ani" style="background-color: #cor;" />
                <label for="ani">Any</label>
            </div>
            <div>
                <input type="checkbox" id="daniel" style="background-color: #cor;" />
                <label for="daniel">Daniel</label>
            </div>
            <div>
                <input type="checkbox" id="iury" style="background-color: #cor;" />
                <label for="iury">Iury</label>
            </div>
            <div>
                <input type="checkbox" id="juliana" style="background-color: #cor;" />
                <label for="juliana">Juliana</label>
            </div>
            <div>
                <input type="checkbox" id="radames" style="background-color: #cor;" />
                <label for="radames">Radamés</label>
            </div>
        </div>

        <div id="ios">
            <h3>iOS</h3>
            <div>
                <input type="checkbox" id="aline" style="background-color: #cor;" />
                <label for="aline">Aline</label>
            </div>
            <div>
                <input type="checkbox" id="guilherme" style="background-color: #cor;" />
                <label for="guilherme">Guilherme</label>
            </div>
            <div>
                <input type="checkbox" id="lorena" style="background-color: #cor;" />
                <label for="lorena">Lorena</label>
            </div>
            <div>
                <input type="checkbox" id="magdiel" style="background-color: #cor;" />
                <label for="magdiel">Magdiel</label>
            </div>
            <div>
                <input type="checkbox" id="paula" style="background-color: #cor;" />
                <label for="paula">Paula</label>
            </div>
            <div>
                <input type="checkbox" id="rayssa" style="background-color: #cor;" />
                <label for="rayssa">Rayssa</label>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button class="custom-button2" onclick="selecionarTodos()">Todos</button>
        <button class="custom-button" onclick="executar()">Gerar</button>
    </div>

    <div>
        <div class="half-screen">
            <ul id="halfScreenDiv">
                <!-- Insere o analista e os menus de regressão -->
            </ul>
        </div>
        <div class="half-screen-direita">
            <ul id="halfScreenDiv-direita">
                <!-- Insere o analista e os menus de regressão -->
            </ul>
        </div>
        <a href="/"><i class="fas fa-home home-icon"></i></a>
        <a href="logout"><i class="fas fa-sign-out-alt logout-icon"></i></a>
    </div>
</body>

</html>

