<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="static/estilos/divisaoregressao.css">
</head>
<body>
    <button class="custom-button" onclick="location.href='flags'">Buscar</button>
    <div class="grid-container2">

        {% if results %}
            {% for result in results %}
                {% if result.json_data %}
                    {% if result.response == 200 %}
                        {% for category, parameters in result.json_data['response']['parametros'].items() %}
                            <div class="grid-item">
                                <h3>{{ category }} : {{ parameters }}</h3>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="error">
                            <h2>Erro ao realizar a requisição. Tente novamente!!</h2>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    {% extends "base.html" %}
</body>
</html>
