<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>HomePage Duplas</title>
    <style>
        .half-screen {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .half-screen > div {
            flex: 1;
            padding: 10px;
        }

        .half-screen ul {
            column-count: 2;
            text-align: left;
        }

        .half-screen li {
            break-inside: avoid-column;
        }
    </style>
</head>
<body>
    <div class="half-screen">
        <h1>Duplas Formadas</h1>
        <div>
            <ul>
            {% for dupla in duplas[:30] %}
                <li>{{ dupla }}</li>
                {% if loop.index % 5 == 0 %}
                    <br>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div>
            <ul>
            {% for dupla in duplas[30:60] %}
                <li>{{ dupla }}</li>
                {% if loop.index % 5 == 0 %}
                    <br>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
