<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="static/estilos_homepage.css">
</head>
<body>
    <a href="/"><i class="fas fa-home home-icon"></i></a>
    <a href="logout"><i class="fas fa-sign-out-alt logout-icon"></i></a>
    <button class="custom-button" onclick="location.href='divisaoregressao'">Divisão de Regressões</button>
    <button class="custom-button" onclick="location.href='gerarduplas'">Gerar Duplas</button>
    <button class="custom-button" onclick="location.href='centralizador'">Versões Centralizadores</button>
</body>
</html>
