body {
    background-color: #000080;
}

.half-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.half-screen > div {
    flex: 1;
    padding: 10px;
    margin-top: 0px;
}

.half-screen ul {
    column-count: 2;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.half-screen li {
    break-inside: avoid-column;
}

.button-container {
    margin-top: 20px;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #000080;
    background-color: #FFFF00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #0056b3;
}

h1 {
    color: #FFFFFF;
    font-size: 40px;
}

ul {
    color: #FFFFFF;
}

.image-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 100px;
}

.label1 {
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 30px;
}

.home-icon {
    position: absolute;
    top: 10px;
    right: 50px;
    color: #FFFF00;
    font-size: 24px;
    cursor: pointer;
}

.logout-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFFF00;
    font-size: 24px;
    cursor: pointer;
}